ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 10px;
  padding: 0;
}

li {
  display: flex;
  border: 1px solid #fff;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  text-align: center;
}

li p {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.photo-wrapper {
  width: 100%;
  height: 200px;       /* Adjust if needed */
  overflow: hidden;
  border-radius: 8px;
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* ensures balanced look */
  display: block;
}